@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 296.76 90.24% 16.08%;
    --foreground: 0 0% 100%;
    --muted: 299.15 27.84% 50%;
    --muted-foreground: 0 0% 83.14%;
    --popover: 298.26 40.83% 33.14%;
    --popover-foreground: 0 0% 100%;
    --card: 298.26 40.83% 33.14%;
    --card-foreground: 0 0% 100%;
    --border: 297 0% 100%;
    --input: 299.15 0% 100%;
    --primary: 297 90% 16%;
    --primary-foreground: 300 100% 85.69%;
    --secondary: 300 100% 85.69%;
    --secondary-foreground: 296.76 90.24% 16.08%;
    --accent: 299.15 27.84% 50%;
    --accent-foreground: 327 0% 100%;
    --destructive: 0 84.24% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --ring: 357.74 0% 100%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
